@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
body,
html
{
    height: 100%;
    overflow-x: hidden;
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}


/* CONTENT MAIN PAGE */
.scan_products {
    border: 1px solid black;
    border-radius: 0.3em;
    text-align: justify;
    padding: 3%;
    margin: 5%; 
    background-color: lightgray;
}



/* NAV BAR */
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d9d9d9;
    overflow: hidden;
    height: 55px;
}
.navbar ul li a img {
    height: 20px;
    width: auto;
}
.img_button :hover {
    background-color: #ababab;
    border-radius: 0.3em;
    border: 1px solid rgb(109, 141, 43);
    margin: -4px;
    padding: 3px;
}
.menu_isol_central {
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin-left: 2%;
    margin-right: 2%;
    height: 100%; 
}
.nav_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 2% 1% 2%;
}
.current_page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 2% 1% 2%;
    background-color: #ababab;
    border-radius: 0.3em;
    border: 1px solid rgb(109, 141, 43);
    margin: -4px;
    padding: 3px;
}